header
{
    color: blueviolet;
    text-align: center;
    border: 50px;
}
main
{
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:aqua;
    border: 100px;
}
body
{
    text-align: center;
}