header
{
    color: blueviolet;
    text-align: center;
    border: 50px;
}
main
{
    color:black;
    font-family:cursive;
    background-color:aqua;
    border: 100px;
}
body
{
    text-align: center;
    padding: red;
    color: aqua;
}